@use "../../styles/variables" as *;

.timeline-scroll-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;

  overflow-y: auto;
  display: flex;
}

.timeline-wrapper {
  position: relative;
  height: 100%;

  border-left: 1px solid $color-background-line;
  border-right: 1px solid $color-background-line;

  margin: 0 auto;

  overflow-x: hidden;

  display: flex;
}

.timeline-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

  margin: auto 0;

  height: 806px;
  max-width: 1440px;
  max-height: 806px;
  color: $color-primary;
  font-family: $font-family;
  overflow: hidden;

  @media (max-width: 768px) {
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 14px;
  }
}

.horizontal-line {
  position: absolute;
  left: 0;
  right: 0;
  top: 310px;
  transform: translateY(-50%);
  height: 1px;
  background: $color-background-line;

  @media (max-width: 768px) {
    width: calc(100% - 40px);
    left: 20px;
    right: 20px;
    background: $color-background-line-mobile;
    opacity: $opacity-high;
  }
}

.vertical-center-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  height: 100vh;
  transform: translateX(-50%);
  width: 1px;
  background: $color-background-line;
}
