@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Bebas+Neue:wght@400&display=swap");

.timeline-container {
  position: relative;
  max-width: 1440px;
  height: 100vh;
  max-height: 1080px;
  margin: 0 auto;
  background: #fff;
  color: #42567a;
  font-family: "PT Sans", sans-serif;
  overflow: hidden;

  &::before,
  &::after,
  .vertical-center-line {
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background: #42567a;
    opacity: 0.1;
  }

  &::before {
    left: 0;
    z-index: 1;
  }

  &::after {
    right: 0;
  }

  .vertical-center-line {
    left: 50%;
    transform: translateX(-50%);
  }

  .horizontal-line {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: #42567a;
    opacity: 0.1;
  }

  .left-gradient {
    content: "";
    position: absolute;
    top: 70px;
    left: 0;
    width: 6px;
    height: 120px;
    background: linear-gradient(#3877ee, #ef5da8);
    z-index: 2;
  }

  .circle-timeline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 530px;
    height: 530px;

    .circle-container {
      position: relative;
      width: 100%;
      height: 100%;
      transform-origin: center;
    }

    .main-circle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #42567a;
      border-radius: 50%;
      opacity: 0.2;
    }

    .segment-point {
      width: 6px;
      height: 6px;
      background: #42567a;
      border-radius: 50%;
      position: absolute;
      transition: all 0.3s ease;
      cursor: pointer;
      transform: translate(-3px, -3px);

      &:hover,
      &.active {
        width: 56px;
        height: 56px;
        background: #ffffff;
        border: 1px solid rgba(48, 62, 88, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-28px, -28px);

        .segment-number {
          color: #42567a;
          font-weight: 400;
          line-height: 150%;
          font-size: 20px;
        }
      }
    }
  }

  .active-point-indicator {
    position: absolute;
    top: 120px;
    right: 0px;
    margin-left: 80px;
    font-size: 20px;
    line-height: 150%;
    font-weight: bold;
    color: #42567a;
  }

  .timeline-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    button {
      padding: 10px;
      border: none;
      cursor: pointer;
      background-color: lightgray;
      font-weight: 700;
      color: #3877ee;
      font-family: "Bebas Neue", sans-serif;
      &.active {
        background-color: #3877ee;
        color: white;
      }
    }
  }

  .timeline-content {
    width: 80%;
  }

  .timeline-header-wrapper {
    margin: 70px 0 0 80px;
    max-width: 350px;
  }

  .timeline-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
  }

  .event-container {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin: 56px 0 104px;
  }
  .event-card {
    width: 320px;
    height: 135px;
  }
  .event-card-title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    text-transform: uppercase;
    color: #3877ee;
  }
  .event-card-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
  }

  .large-date-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .large-date {
    font-weight: 700;
    font-size: 200px;
    line-height: 80%;
    letter-spacing: -0.02em;
    text-align: center;
    display: flex;
    justify-content: center;

    .start-date {
      color: #5d5fef;
    }

    .end-date {
      color: #ef5da8;
    }
  }

  .time-period {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 768px) {
    padding: 0 20px;

    &::before,
    &::after,
    .vertical-center-line,
    .left-gradient {
      display: none;
    }

    .horizontal-line {
      width: calc(100% - 40px);
      left: 20px;
      right: 20px;
      background: #c7cdd9;
      opacity: 1;
    }

    .circle-timeline {
      display: none;
    }

    .timeline-header-wrapper {
      margin: 60px 0 0 0;
      max-width: 130px
    }

    .timeline-header {
      font-size: 20px;
    }
  }
}
