@use "../../styles/variables" as *;

.events-wrapper {
  position: relative;
  width: 100%;
  padding: 0 80px;
  margin: 0 auto;
  transition: opacity 0.5s ease;

  @media (max-width: map-get($breakpoints, mobile)) {
    padding: 0;
  }

  .events-container {
    overflow-x: hidden;
    display: flex;

    @media (max-width: map-get($breakpoints, mobile)) {
      margin: 0;
    }
  }

  .slider-controls {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding: 0 20px;

    @media (max-width: map-get($breakpoints, mobile)) {
      justify-content: center;
    }

    .slider-button {
      position: absolute;
      width: 40px;
      height: 40px;
      background: $color-white;
      box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-slider-arrow;
      font-size: 16px;
      transition: all 0.3s ease;

      &.prev {
        left: 10px;
      }

      &.next {
        right: 10px;
      }

      @media (max-width: map-get($breakpoints, mobile)) {
        display: none;
      }
    }
  }

  .event-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;

    @media (max-width: map-get($breakpoints, mobile)) {
      max-width: unset;
    }
  }

  .event-card-title {
    font-family: $font-family-secondary;
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    text-transform: uppercase;
    color: $color-slider-arrow;

    @media (max-width: map-get($breakpoints, mobile)) {
      font-size: 16px;
    }
  }

  .event-card-description {
    height: 120px;
    overflow-y: auto;

    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    @media (max-width: map-get($breakpoints, mobile)) {
      height: unset;
      font-size: 14px;
      line-height: 145%;
    }
  }
}
